<div class="container-fluid contenedor-dashboard">
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-dashboard shadow">
        <div class="collapse navbar-collapse ">
            <form class="form-inline my-2 my-lg-0 ml-auto">
                <span class="name-user">{{usuario.nombre | titlecase}}</span>
                <div class="photo-user"></div>
            </form>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8 m-0">
            <div class="card shadow  custom-card">
                <div class="card-header encabezado-card">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title text-center">Tus productos</h5>
                        </div>
                        <div class="col-4">
                            <div class="add-product">
                                <mat-icon class="add-icon" aria-hidden="false" aria-label="add" 
                                class="btn boton-login" data-toggle="modal" data-target="#modalCargueProductos">add</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body m-0">
                    <table class="table table-striped">
                        <thead class="head-table">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let producto of listaDeProductos; let i = index'>
                                <th scope="row">{{i+1}}</th>
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.precio}}</td>
                                <td>{{producto.cantidad}} {{producto.masaUnitaria}}</td>
                                <td><i class="fas fa-pen" data-toggle="modal" data-target="#modalEditarProductos"></i> <i class="fas fa-trash-alt" (click)='eliminarProducto(producto)'></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 m-0">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card shadow custom-card">
                    <div class="card-header encabezado-card">
                        <h5 class="card-title text-center ">Tus ventas mensauales</h5>
                    </div>
                    <div class="card-body text-center">
                        <span class="sell-text"> $4.500.000.00</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card shadow custom-card">
                    <div class="card-header encabezado-card">
                        <h5 class="card-title text-center ">Tus ventas Anuales</h5>
                    </div>
                    <div class="card-body text-center">
                        <span class="sell-text"> $50.000.000.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="modalCargueProductos" tabindex="-1" aria-labelledby="modalCargueProductos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content contenedor-loginModal">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title " id="login">Crear producto</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]='producto' (ngSubmit)='agregarProducto()'>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                        <label for="nombre">nombre:</label>
                        <input type="text" class="form-control" id="nombreProducto" formControlName='nombre'>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                        <label for="tipoProducto">Tipo:</label>
                        <input type="text" class="form-control" id="tipoProducto" formControlName='tipo'>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                        <label for="unidad">Unidad:</label>
                        <input type="text" class="form-control" id="unidad" formControlName='masaUnitaria'>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                        <label for="precio">Precio:</label>
                        <input type="text" class="form-control" id="precio" formControlName='precio'>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                        <label for="cantidad">Cantidad:</label>
                        <input type="text" class="form-control" id="cantidad" formControlName='cantidad'>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn boton-ingresar-login" type="submit">Crear producto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="modalEditarProductos" tabindex="-1" aria-labelledby="modalEditarProductos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content contenedor-loginModal">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title " id="login">Editar producto</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]='producto' (ngSubmit)='editarProducto()'>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                        <label for="nombre">nombre:</label>
                        <input type="text" class="form-control" id="nombreProducto" formControlName='nombre'>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                        <label for="tipoProducto">Tipo:</label>
                        <input type="text" class="form-control" id="tipoProducto" formControlName='tipo'>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                        <label for="unidad">Unidad:</label>
                        <input type="text" class="form-control" id="unidad" formControlName='masaUnitaria'>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                        <label for="precio">Precio:</label>
                        <input type="text" class="form-control" id="precio" formControlName='precio'>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                        <label for="cantidad">Cantidad:</label>
                        <input type="text" class="form-control" id="cantidad" formControlName='cantidad'>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn boton-ingresar-login" type="submit">Editar producto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>